.weather-app {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
#row-info {
  padding: 0 10px;
  margin-right: -500px;
}
.col-2 {
  border: 1px solid #2c2d2e;
  border-radius: 5px;
  padding: 10px;
  flex: 0 1 auto;
}
.weather-forecast {
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  margin-top: 25px;
  align-items: center;
  width: 100%;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.city {
  font-size: 48px;
  color: #3a3151;
  margin-left: 130px;
  margin-bottom: 0px;
}
#temperature {
  font-size: 36px;
  color: #3a3151;
  margin-top: -100px;
}
#celsius,
#fahrenheit {
  font-size: 24px;
  color: #3a3151;
}
.row {
  color: #3a3151;
  position: relative;
  width: 100%;
}
#current-id {
  margin-left: -140px;
}
.updated-time {
  font-size: 12px;
  margin-left: 130px;
}
.temperature-description,
.humidity,
.wind {
  font-size: 18px;
  position: relative;
  top: 40px;
  margin-left: 150px;
}
.city-name {
  margin-left: 200px;
}

.city-info,
.temp-info {
  margin-top: 0px;
}

#sourcelink {
  margin-left: 130px;
}

#icon {
  margin-left: 130px;
}
